.armor__icon {
    @apply rounded-md;
}

.armor__icon--1 {
    background-image: linear-gradient(to bottom right, #3d3325, #8df901);
}

.armor__icon--2 {
    background-image: linear-gradient(to bottom right, #3d3325, #00b0fa);
}

.armor__icon--3 {
    background-image: linear-gradient(to bottom right, #3d3325, #ba00f9);
}

.armor__icon--4 {
    background-image: linear-gradient(to bottom right, #3d3325, #f9a100);
}

.armor__icon--5 {
    background-image: linear-gradient(to bottom right, #3d3325, #fa5d00);
}

.armor__icon--6 {
    background-image: linear-gradient(to bottom right, #3d3325, #ddc29d);
}

.armor__icon--7 {
    background-image: linear-gradient(to bottom right, #3d3325, #3cf2e6);
}
